* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media(min-width: 1164px) {
  .header {
    position: sticky;
    top: 0;
  }
}

.header-link:hover {
  text-decoration: none;
}

.header-icon {
  color: #888888;
  margin: 16px;
}

.header-icon:hover {
  color: 	#202020;
}

.header-paragraph {
  color: #888888;
  margin: 16px;
}

.header-paragraph:hover {
  color: 	#202020;
}

/* small screen */

@media(max-width: 700px) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 100px;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }
  
  .header {
    grid-area: header;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    display: flex;
  }

  .header-link {
    display: flex;
    text-decoration: none;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(8, 12.5%);
  }
}

/* big screen */

@media(min-width: 700px) {

  .grid-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
  }

  .header {
    grid-area: header;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
  }

  .header-link {
    display: flex;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
  }
}

.search {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.header-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
}

.sidenav {
  grid-area: sidenav;
  position: sticky;
  top: 0;
  background: #302D43;
}

.sidenav-link {
  display: block;
  color: #F4F6F9;
  padding: 15px 30px;
}

.sidenav-link:hover {
  transition: all 0.3s ease-in-out;
  padding: 15px 30px 15px 25px;
  text-decoration: none;
}

.sidenav-icons {
  width: 30px;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.earth {
  color: #00A86B;
}

.mars {
  color: #ED2939;
}

.mercury {
  color: #888888;
}

.jupiter {
  color: #0080FF;
}

.main {
  grid-area: main;
  background-color: #D3D3D3;
  display: grid;
  grid-template-columns: repeat(3, 33.3333%);
  grid-template-rows: repeat(4, 25%);
}

.main-card {
  background-color: #FFFFFF;
  margin: 20px;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-1 {
  grid-row-end: span 2;
}

.main-1-col-values {
  background-color: #302D43;
  color: #FFFFFF;
}

.main-2 {
  grid-row-end: span 3;
}

.main-5 {
  grid-row-end: span 2;
}

.main-6-col-values {
  background-color: #302D43;
  color: #FFFFFF;
}

.main-8 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}

.main-1:hover {
  background-color: #E8E8E8;
}

.main-2:hover {
  background-color: #E8E8E8;
}

.main-3:hover {
  background-color: #E8E8E8;
}

.main-4:hover {
  background-color: #E8E8E8;
}

.main-5:hover {
  background-color: #E8E8E8;
}

.main-6:hover {
  background-color: #E8E8E8;
}

.main-7:hover {
  background-color: #E8E8E8;
}

.sub-card-1 {
  background-color: #A0A0A0;
  color: #FFFFFF;
  display: grid;
  justify-content: center;
  align-items: center;
}

.sub-card-2 {
  background-color: #0080FF;
  color: #FFFFFF;
  display: grid;
  justify-content: center;
  align-items: center;
}

.sub-card-3 {
  background-color: #333333;
  color: #FFFFFF;
  display: grid;
  justify-content: center;
  align-items: center;
}

.sub-card-4 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.sub-card-1:hover {
  background-color: #606060
}

.sub-card-2:hover {
  background-color: #1034A6;
}

.sub-card-3:hover {
  background-color: #000000
}

.sub-card-4:hover {
  background-color: #E8E8E8;
}

.footer {
  grid-area: footer;
  background-color: #D3D3D3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(182.77px, 1fr));
  height: 100wh;
}

.footer-card {
  background-color: #FFFFFF;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}

.footer-1:hover {
  background-color: #E8E8E8;
}

.footer-2:hover {
  background-color: #E8E8E8;
}

.footer-3 {
  background-color: #ED2939;
  color: #FFFFFF;
}

.footer-3:hover {
  background-color: #C21807;
}

.footer-4 {
  background-color: #A0A0A0;
  color: #FFFFFF;
}

.footer-4:hover {
  background-color: #606060;
}

.footer-icons {
  margin-top: 20px;
}

.bandwidth,
.dailysales {
  color: #FFFFFF;
}

.nav {
  display: flex;
}

.nav-paragraph {
  margin: 20px;
  margin-right: auto;
}

.nav-icon {
  margin-top: 25px;
}